body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #274048;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.weather {
  font-size: 55px;
  font-weight: 800;
  font-family: sans-serif;
  display: inline;
  color: antiquewhite;
}

.goodOrBad {
  background-color: darkgray;
  height: 100px;
  text-align: center;
  margin: 40px;
  padding-top: 60px;
  color: darkblue;
  font-family: cursive;
  font-size: 30px;
  border-radius: 20px;
  border: 6px solid gainsboro;
}
.formh1 {
  color: antiquewhite;
}

.list__item {
  font-size: 25px;
  font-family: cursive;
  gap: 80px;
  list-style: none;
  display: flex;
  width: 20%;
  color: antiquewhite;
}

.deleteButton {
  height: 40px;
  width: 70px;
  color: rgb(0, 0, 0);
  background-color: aliceblue;
  border: 3px solid;
  border-radius: 8px;
}

.deleteButton:hover {
  font-size: 20px;
  background-color: black;
  color: aliceblue;
}

.activityList {
  width: 20%;
}

.nameInput {
  height: 40px;
  width: 50%;
  border-radius: 20px;
}

#name {
  font-size: 25px;
  font-style: oblique;
  font-family: cursive;
  color: antiquewhite;
}

#checkBox {
  font-size: 35px;
  font-weight: 200;
  color: antiquewhite;
}

.check {
  height: 40px;
  width: 50px;
}

.submitButton {
  height: 80px;
  width: 30%;
  border-radius: 20px;
  color: darkblue;
  font-size: 35px;
  background-color: darkgray;
}

.nameDiv {
  /* margin-bottom: 1rem; */
}
.dropdown {
  font-size: 30px;
  color: darkblue;
  margin-bottom: 8%;
  color: antiquewhite;
}

#continent {
  height: 40px;
  width: 200px;
  font-family: fantasy;
  font-weight: bold;
  color: darkblue;
  border-radius: 20px;
  background-color: azure;
}

.welcome-message {
  color: darkblue;
  font-size: 35px;
  background-color: darkgray;
  border-radius: 100px;
}
